.video__action{
    display: flex;
    margin:  190px 210px;
    gap: 10rem;
    align-items: center;
}

.video__description{
    color: white;
}

.video__description h1{
    font-size: 40px;
    font-weight: 600;
}

.video__description p{
    font-size: 20px;
}

.video__description button{
    font-weight:bold;
    background: transparent;
    cursor: pointer;
    border: 1px;
    color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    font-size: 20px;
}

.bar{
    background-color: red;
    height: 5px;
    width: 90px;
}

.play__button{
    background-color: #8D5CF6;
    height: 100px;
    width: 100px;
    border-radius: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play__button span{
   font-size: 50px;
   color: aliceblue;
}

.video{
    position: relative;
}

.video img{
    border-radius: 10%;
}