.NavBar{
   align-items: center;
   height: 70px;
   display: flex;
   justify-items: center;
   background-color: transparent;
}

.NavBar h2{
    color: aliceblue;
}

.navbar__links{
    justify-items: center;
    margin-left: 100px;
    font-weight: 900;
    gap: 1rem;
    display: flex;
}

.navbar__link{
      color: aliceblue;
      text-decoration: none;
}

.navbar__buttons{
   margin-left: 300px;
   font-size: 50px;
   color: white;
  
}

.joinus{
    background-color: #8D5CF6;
    font-weight:bold;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
}

.login{
    font-size: 20px;
    font-weight:bold;
    background: transparent;
    cursor: pointer;
    border: 1px;
    color: white;
    margin: 10px;
    padding: 15px 32px;
}